nav.navbar.bootsnav {
    background-color: transparent;
    border-bottom: transparent;
}
.wrap-sticky nav.navbar.bootsnav.sticked {background-color: #101010cf;box-shadow: 0 2px 5px rgba(0,0,0,.2);}
.header-area{
    background-color: black;
    
}